.navbar-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.05);
  color: white;
  padding: 10px 20px;
  justify-content: space-between;
  align-content: center;
}

.nav-area {
  display: flex;
}

.nav-links {
  margin-right: 20px;
}

.navbar-button {
  font-size: 1rem;
  padding: 10px;
  border: none;
  margin: 2px;
}

.logo-area,
.loginSignupArea {
  align-self: center;
  display: flex;
}
.loginSignupArea button {
  padding-left: 10px;
}

.logo-area h1 {
  margin: 0px;
  color: white;
}

.logo-area a {
  text-decoration: none;
}

.logo {
  height: 80px;
}
